* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	font-family: Montserrat, sans-serif;
}

.none {
	display: none !important;
}

.wrapper {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.inner {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	width: 100%;
	max-width: 500px;
	padding: 30px;
	border: 1px solid #1e1e24;
	border-radius: 8px;
	background-color: #999;
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.form-textarea {
	min-height: 50px;
	padding: 10px;
	font-size: 18px;
}

.form-send-button,
.form-cancel-button {
	padding: 3px;
	border: 1px solid #1e1e24;
	border-radius: 5px;
	color: inherit;
}

.form-send-button:active,
.form-cancel-button:active {
	transform: scale(0.98);
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: transparent;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
}

.output {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.task {
	display: flex;
	position: relative;
	padding: 5px;
	border: 1px solid #1e1e24;
	border-radius: 5px;
	cursor: move;
}

.task-index {
	position: absolute;
	text-align: right;
	width: 20px;
	top: 50%;
	left: -25px;
	transform: translateY(-50%);
}

.task-text {
	flex-grow: 1;
	padding: 0 10px;
}

.task.done {
	opacity: 0.5;
}

.task.done .task-text {
	text-decoration: line-through;
}

.task.pinned {
	border-left: 2px solid red;
}

.task-btns {
	display: flex;
	column-gap: 5px;
}

.task-pinned svg path,
.task-done svg path {
	fill: transparent;
	stroke: #1e1e24;
}

.task-pinned.active svg path,
.task-pinned:active svg path {
	stroke: red;
}

.task-done.active svg path,
.task-done:active svg path {
	stroke: green;
}

.task-del:active svg path,
.task-edit:active svg path {
	stroke: #1e1e24;
	fill: #1e1e24;
}

footer {
	text-align: center;
	padding: 10px 0;
	background-color: #1e1e24;
}

@media (min-width: 500px) {
	.task.dragging {
		opacity: 0.5;
	}
}
